<!-- Heading -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<!-- Messages section-->
<%- messages() %>

<!-- add classification form -->
 
<form id="add_inventory" action="/inv/add-inventory" method="post">
    <p>All Fields Are Required.</p>
    <label for="classification_id">Classification</label value="<%= locals.classification_id %>">
    <%- classifications %>
    <br><br>
    <label for="inv_make">Make</label>
    <input type="text" id="inv_make" name="inv_make" required placeholder="Min of 3 characters" minlength="3" value="<%= locals.inv_make %>">
    <br><br>
    <label for="inv_model">Model</label>
    <input type="text" id="inv_model" name="inv_model" required placeholder="Min of 3 characters" minlength="3" value="<%= locals.inv_model %>">
    <br><br>
    <label for="inv_description">Description</label>
    <input type="text" id="inv_description" name="inv_description" rows="5" cols="30" required value="<%= locals.inv_description %>">
    <br><br>
    <label for="inv_image">Image Path</label>
    <input type="text" id="inv_image" name="inv_image" required value="/images/vehicles/no-image.png">
    <br><br>
    <label for="inv_thumbnail">Thumbnail Path</label>
    <input type="text" id="inv_thumbnail" name="inv_thumbnail" required value="/images/vehicles/no-image-tn.png">
    <br><br>
    <label for="inv_price">Price</label>
    <input type="number" id="inv_price" name="inv_price" required placeholder="decimal or integer only" pattern="[0-9]+" value="<%= locals.inv_price %>">
    <br><br>
    <label for="inv_year">Year</label>
    <input type="number" id="inv_year" name="inv_year" required placeholder="4-digit year" pattern="\d{4}$" value="<%= locals.inv_year %>">
    <br><br>
    <label for="inv_miles">Miles</label>
    <input type="number" id="inv_miles" name="inv_miles" required placeholder="digits only" pattern="[0-9]+" value="<%= locals.inv_miles %>">
    <br><br>
    <label for="inv_color">Color</label>
    <input type="text" id="inv_color" name="inv_color" required value="<%= locals.inv_color %>">
    <br><br>
    <input type="submit">
    <br>
    


</form>